@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.whole-site {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.bg-image {
    background-image: url("../images/scotland.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 300px 400px;
}

.bg-color {
    background-color: #004d66;
}

.home-logo-img {
    border-radius: 50px;
    display: block;
    width: 250px;
    height: 155px;
    margin: 30px auto 20px;
}

.location {
    display: none;
}

.location-img {
    width: 100%;
    margin-bottom: 20px;
}

.sea-image {
    width: 100%;
    margin-top: 20px;
}

/*...........................Header*/

.main-title {
    color: #f2f0e4;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    display: block;
}

.location-button {
    text-decoration: none;
    border: none;
    background: none;
}

.option {
    margin-left: 10px;
    font-size: 15px;
    color: #f2f0e4;
    text-decoration: underline;
}

.red {
    color: #ff704d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.opener {
    margin-bottom: 50px;
}

/*...........................Body*/

.Intro {
    color: #f2f0e4;
    text-align: center;
    margin: 10px;
    font-size: 13px;
}

.sub-title {
    color: #f2f0e4;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    text-decoration: underline;
}

#map {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}


/*...........................media*/

@media (min-width:600px) {
    .home-logo-img {
        height: 92px;
        margin-top: 20px;
    }

    .Intro {
        font-size: 20px;
        margin-top: 20px;
    }

    .location-img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .sea-image {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .option {
        margin-left: 15px;
        font-size: 23px;
    }
}


@media (min-width:730px) {
    .home-logo-img {
        height: 130px;
        margin-top: 50px;
    }

    .bg-image {
        background-position: right;
        background-size: 500px 650px;
    }

    .main-title {
        font-size: 75px;
        text-align: left;
        padding-left: 30px;
    }

    .option {
        font-size: 33px;
    }

    .sub-title {
        font-size: 33px;
    }
}

@media (min-width:1000px) {
    .main-title {
        font-size: 85px;
    }

    .bg-image {
        background-size: 700px 900px;
    }

    .home-logo-img {
        height: 165px;
    }
}

@media (min-width:1500px) {
    .main-title {
        font-size: 140px;
    }

    .bg-image {
        background-size: 800px 1100px;
    }

    .option {
        font-size: 45px;
        margin-left: 35px;
    }

    .home-logo-img {
        height: 330px;
    }

    .Intro {
        font-size: 30px;
        margin-top: 70px;
    }

    .sub-title {
        font-size: 45px;
    }

    .location-img {
        width: 70%;
    }

    .sea-image {
        margin-top: 35px;
        width: 80%;
    }
}



@media (min-height:700px) {
    #map {
        height: 500px;

    }
}

@media (min-height:1000px) {
    #map {
        height: 700px;

    }
}